ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.header
po/en@quot.insert-header
po/en@quot.po
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/.dirstamp
src/obconf
*.gmo
*.o
.deps
*.bak
