ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.gmo
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.header
po/en@quot.insert-header
po/en@quot.po
po/insert-header.sin
po/obconf.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/sv.gmo
po/zh_TW.gmo
src/.dirstamp
src/obconf
src/src_obconf-about.o
src/src_obconf-appearance.o
src/src_obconf-archive.o
src/src_obconf-desktops.o
src/src_obconf-dock.o
src/src_obconf-main.o
src/src_obconf-mouse.o
src/src_obconf-preview.o
src/src_obconf-preview_update.o
src/src_obconf-theme.o
src/src_obconf-tree.o
src/src_obconf-windows.o
