[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Openbox Configuration Manager
Comment=Openbox configuration manager
Icon=openbox
Exec=obconf %f
Categories=Settings;DesktopSettings;GTK;
MimeType=application/x-openbox-theme
StartupNotify=true
Terminal=false
