[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Openbox Configuration Manager
Name[pt_BR]=Gerenciador de configurações do Openbox
Name[ru]=Менеджер настройки Openbox
Name[zh_TW]=Openbox 組態管理器
GenericName=Configuration Manager
GenericName[pt_BR]=Gerenciador de configurações
GenericName[ru]=Менеджер настройки Openbox
GenericName[zh_TW]=Openbox 組態管理器
Comment=Tweak settings for Openbox
Comment[pt_BR]=Configure as opções do Openbox
Comment[ru]=Настройка Openbox
Comment[zh_TW]=管理 Openbox 組態設定
Icon=obconf
Exec=obconf %f
Categories=Settings;DesktopSettings;GTK;
MimeType=application/x-openbox-theme;
StartupNotify=true
Terminal=false
