[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ObConf
Comment=Openbox preferences manager
Icon=openbox.png
Exec=obconf %f
Categories=Settings;DesktopSettings;GTK;
MimeType=application/x-openbox-theme
StartupNotify=true
Terminal=false
