[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-openbox-theme
Icon=openbox
Patterns=*.obt;
Comment=Openbox Theme Archive
Comment[ru]=Архив темы Openbox
